{% load static %}
<div id="footer">
    <!-- <div class="social-footer hide">
        <table>
          <tr id="social-list">
            <td class="social-list-items">
              <a target="_blank" href="https://www.google.com/maps/place/Community+Care+and+Hospice+LLC/@34.221085,-119.016831,15z/data=!4m5!3m4!1s0x0:0x401276adce2f8dd7!8m2!3d34.221085!4d-119.016831">
                <i class="fab fa-google-plus-square"></i>
              </a>
            </td>
            <td class="social-list-items">
              <a target="_blank" href="https://twitter.com/ComCareHospice">
                <i class="fab fa-twitter-square"></i>
              </a>
            </td>
            <td class="social-list-items">
              <a target="_blank" href="https://www.facebook.com/communitycareandhospice/">
                <i class="fab fa-facebook-square"></i>
              </a>
            </td>
            <td class="social-list-items">
              <a target="_blank" href="https://www.yelp.com/biz/community-care-and-hospice-ventura">
                <i class="fab fa-yelp"></i>
              </a>
            </td>
          </tr>
        </table>
    </div> -->
    <nav id="fmenu">
        <ul class="fcolumn">
            <li><a href="/patients-and-caregivers/about-us/pages/home">About Us</a></li>
            <li><a href="/patients-and-caregivers/about-us/pages/history">History</a></li>
            <li><a href="/patients-and-caregivers/about-us/pages/non-discrimination-statement">Non-Discrimination Statement</a></li>
            <li><a href="/patients-and-caregivers/about-us/pages/notice-of-privacy-practices">Notice of Privacy Practices</a></li>
            <li><a href="/patients-and-caregivers/about-us/pages/affiliations-and-collaborations">Affiliations and Collaborations</a></li>
            <li><a href="/patients-and-caregivers/about-us/pages/licensure-and-accreditation">Licensure and Accreditation</a></li>
        </ul>
        <ul class="fcolumn">
          <li><a href="javascript:;">Staff/Volunteers</a></li>
          <li><a href="https://jncloud.net/">JNCloud</a></li>
          <li><a href="javascript:;">Staff Portal</a></li>
          <li><a href="/patients-and-caregivers/about-us/pages/communication-policy">Communication Policy</a></li>
        </ul>
        <ul class="fcolumn">
            <li><a href="/lirofessionals/careers/pages/home">Careers</a></li>
            <li><a href="/lirofessionals/careers/pages/job-openings">Job Openings</a></li>
        </ul>
        <ul class="fcolumn">
          <li><a href="javascript:;">Useful Links</a></li>
          <li><a href="/patients-and-caregivers/news-and-media/pages/home">News and Media</a></li>
        </ul>
        <div class="fdown-arrow"></div>
    </nav>
    <div class="main-footer">
        <div class="fsidebar">
            <div class="logobox">
                <img src="{% static 'website/images/black_favicon.png' %}" width="50" height="50" alt="bird">
                <p class="fancylogo">Community Care<br>& Hospice</p>
            </div>
            <table class="inline">
                <tr id="social-list">
                  <td class="social-list-items">
                    <a target="_blank" href="https://www.google.com/maps/place/Community+Care+and+Hospice+LLC/@34.221085,-119.016831,15z/data=!4m5!3m4!1s0x0:0x401276adce2f8dd7!8m2!3d34.221085!4d-119.016831">
                      <i class="fab fa-google-plus-square"></i>
                    </a>
                  </td>
                  <td class="social-list-items">
                    <a target="_blank" href="https://twitter.com/ComCareHospice">
                      <i class="fab fa-twitter-square"></i>
                    </a>
                  </td>
                  <td class="social-list-items">
                    <a target="_blank" href="https://www.facebook.com/communitycareandhospice/">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                  </td>
                  <td class="social-list-items">
                    <a target="_blank" href="https://www.yelp.com/biz/community-care-and-hospice-ventura">
                      <i class="fab fa-yelp"></i>
                    </a>
                  </td>
                  <td class="social-list-items">
                    <a target="_blank" href="https://www.google.com/maps/place/4000+Calle+Tecate+STE+114,+Camarillo,+CA+93012">
                      <i class="fas fa-map-marker-alt"></i>
                    </a>
                  </td>
                </tr>
            </table>
            <!-- <ul class="address togglehide">
              <a href="https://www.google.com/maps/place/4000+Calle+Tecate+STE+114,+Camarillo,+CA+93012" target="_blank">
                <li class="small-caps hide">HEADQUARTERS</li>
                <li class="togglehide">ADDRESS</li>
                <li class="hide">4000 Calle Tecate, Suite 114</li>
                <li class="hide">Camarillo, CA 93012</li>
              </a>
                <li class="togglehide">805.667.8558</li>
            </ul>
            <ul class="contact hide">
              <li class="small-caps">PHONE</li>
              <li>805.667.8558</li>
              <li class="small-caps">FAX</li>
              <li>805.384.0933</li>
            </ul> -->
        </div>
        <div class="fmainbar">
            <label class="fnavlabel" for="ftog">
                <input type="checkbox" id="ftog" />
                <span class="ham"></span>
                <span class="ham"></span>
                <span class="burger"></span>
            </label>
            <div class="ftexts">
                <ul class="fmission">
                    <li>OUR MISSION</li>
                    <li>Community Care & Hospice provides end-of-life care, caregiver support, and bereavement services throughout Ventura and Greater Los Angeles. In celebration of the individual worth of each life, we strive to relieve suffering, enhance comfort, promote quality of life, foster choice in end-of-life care, and support effective grieving.</li>
                </ul>
                <ul class="flegal">
                    <li><a class="sitemap" href="/patients-and-caregivers/about-us/pages/sitemap">Sitemap</a></li>
                    <li><a href="/patients-and-caregivers/about-us/pages/notice-of-privacy-practices">Privacy</a></li>
                    <li>&copy; 2019 Community Care & Hospice All Rights Reserved.</li>
                </ul>
            </div>
        </div>
    </div>
</div>