<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Developed by Krishna Kokatay, 2019. Visit my website: www.kalightortaio.com -->
    <!-- Responsive design and grid formatting by Michael Amic-Angelo, 2019. Visit my website: www.amicandesign.com -->    
    <meta charset="utf-8">
    <title>Community</title>
    {% load static %}
    <style>
    body, html {
      height: 100%;
      margin: 0;
    }
    .bg {
      background-image: url("/static/website/images/mobile.png");
      height: 100%;
      background-position: center;
      background-repeat: repeat;
      background-size: 100% 500px;
    }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16669786665"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-16669786665');
    </script>
  </head>
  <body>
    <div class="bg"></div>
  </body>
</html>

