<!DOCTYPE html>
<html>
  <head>
    <!-- Developed by Krishna Kokatay, 2019. Visit my website: www.kalightortaio.com -->
    <!-- Responsive design and grid formatting by Michael Amic-Angelo, 2019. Visit my website: www.amicandesign.com -->    
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Care</title>
    {% load static %}
    <link rel="icon" href="{% static '/website/images/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'website/cssmobile/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/cssmobile/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/cssmobile/media.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/cssmobile/pat-volunteer-prospective.css' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16669786665"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-16669786665');
    </script>
  </head>
  <body>
      <div id="global">
    {% include "../base/pat-navbar.html" %}
      <div id="content-wrapper">
        <div class="centered hidelink mainbody">
          <div class="sitemap">
            <span><a href="/patients-and-caregivers/pages/home">Patients and Caregivers&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/volunteer-and-community/pages/home">&nbsp;Volunteer and Community&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/volunteer-and-community/pages/prospective-volunteers">&nbsp;Prospective Volunteers&nbsp;</a></span>
          </div>
          <div class="content">
            <span class="title">Prospective Volunteers</span>
            <p>
              <span class="titletext">​​​​"Volunteers are vital members of the hospice team. They bring comfort to patients and their loved ones in a variety of ways-whether at a patient's bedside or supporting the mission through administrative services. They are the heart of hospice." </span>
            </p>  
            <p class="qtext">- Usha Kokatay, Director of Nursing</p>
            
            
            <div class="divider"></div>
            <p class="titletext2"><span>Getting Started</span></p>
            <p class="p1"><span>Volunteers contribute to the overall well-being of our community one person, one family at a time. Volunteers help in many ways and are limited only by their imagination.</span></p>
            <p class="titletext2"><span>Types of Volunteers that are welcome</span></p>
            <p class="p1"><span><span class="bold">DIRECT CARE VOLUNTEERS</span> interact with patients and families to provide care and compassion in many ways:</span></p>
            <table>
              <tr>
                <td><span>Activities</span></td>
                <td><span>Light Housekeeping</span></td>
              </tr>
              <tr>
                <td><span>Arts/Crafts</span></td>
                <td><span>Meal Preparation</span></td>
              </tr>
              <tr>
                <td><span>Companionship/Friendly Visits</span></td>
                <td><span>Patient Hobbies</span></td>
              </tr>
              <tr>
                <td><span>Errands</span></td>
                <td><span>Pediatrics</span></td>
              </tr>
              <tr>
                <td><span>Landscaping/Yardwork</span></td>
                <td><span>Talking</span></td>
              </tr>
              <tr>
                <td><span>Life Enrichment</span></td>
                <td><span>Transportation</span></td>
              </tr>
            </table>
            <p class="p1"><span><span class="bold">SPECIFICALLY SKILLED VOLUNTEERS</span> support patients by utilizing licensure and/or their other training:</span></p>
            <table>
              <tr>
                <td><span>Attorneys</span></td>
                <td><span>Nurses</span></td>
              </tr>
              <tr>
                <td><span>Hairstylists</span></td>
                <td><span>Pet Therapy</span></td>
              </tr>
              <tr>
                <td><span>Massage Therapists</span></td>
                <td><span>Pharmacists</span></td>
              </tr>
              <tr>
                <td><span>Notaries</span></td>
                <td><span>Social Workers</span></td>
              </tr>
            </table>
            <p class="p1"><span><span class="bold">VETERANS SERVING VETERANS VOLUNTEERS</span> use military background to support patients that are veterans:</span></p>
            <table>
              <tr>
                <td><span>Compassionship</span></td>
              </tr>
              <tr>
                <td><span>Community Veteran Events</span></td>
              </tr>
              <tr>
                <td><span>Individual Recognition Ceremonies</span></td>
              </tr>
            </table>
            <p class="p1"><span><span class="bold">SUPPORT VOLUNTEERS</span> provide indirect support of the HWR mission through <span class="bold underline">non patient</span> care activities:</span></p>
            <table>
              <tr>
                <td><span>Advocacy</span></td>
                <td><span>Flower Arrangement</span></td>
              </tr>
              <tr>
                <td><span>Baking</span></td>
                <td><span>Photography</span></td>
              </tr>
              <tr>
                <td><span>Clerical/Office Support</span></td>
                <td><span>Public Speaking</span></td>
              </tr>
              <tr>
                <td><span>Community Outreach</span></td>
                <td><span>Receptionist</span></td>
              </tr>
              <tr>
                <td><span>Education</span></td>
                <td><span>Technology Support</span></td>
              </tr>
              <tr>
                <td><span>Development/Fundraising</span></td>
                <td><span></span></td>
              </tr>
            </table>
            <p class="p1"><span><span class="bold">TEEN VOLUNTEERS</span> (ages 13-18) share energy and enthusiasm in supporting patients directly or indirectly with opportunities similar to those of adult volunteers.</span></p>
            <p class="p1"><span><span class="bold">COMMUNITY VOLUNTEERS</span> and <span class="bold">CORPORATE GROUPS</span> engage in our CC&H mission and variety of group opportunities at our locations.</span></p>
            <p class="titletext2"><span>Apply online:</span></p>
            <p class="p2 removetopbuffer"><a href="https://goo.gl/forms/OZG6CQGerwhIoSBw1" class="showlink" target="_blank"><span>Application Form</span></a></p>
            <p class="pc"><span>To register for an upcoming volunteer session or for more information about volunteer opportunities, contact our Headquarters at 805.667.8558 during business hours, or email us at <a href="mailto:admin@ccandh.org" class="showlink">admin@ccandh.org</a></span></p>
          </div>
          <div class="side-content">
            <ul class="tableofcontents">
              <li>
                <a href="/patients-and-caregivers/volunteer-and-community/pages/prospective-volunteers" class="active"><span>Prospective Volunteers</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/news-and-media/pages/home"><span>News and Media</span></a>
              </li>
            </ul>
          </div>
        </div>
        {% include "../base/footer.html" %}
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="{% static 'website/jsmobile/navbar.js' %}" defer></script>
  </body>
</html>

