.content {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 1140px;
  padding: 30px;
}
.p1 {
  line-height: 1.5;
}
.content li {
  font-size: 17px;
  line-height: 1.7;
}
.content table {
  width: 100%;
}
.content table tr {
  width: 100%;
}
.content table td {
  width: 50%;
  vertical-align: top;
}
#content-wrapper {
  min-height: 1200px;
}
