.content img {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.content ul {
  padding-top: 20px;
}
.content li {
  padding: 5px;
}
#content-wrapper {
  min-height: 900px;
}
