.imgleft {
  float: left;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.imgright {
  float: right;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.content table {
  width: 100%
}
.content table td {
  vertical-align: top;
  width: 50%;
}
.content table ul {
  list-style: square;
}
.content table ul li {
  line-height: 1.3;
  font-size: 18px;
}
#content-wrapper {
  min-height: 1350px;
}
