.content {
  position: relative;
}
.content img {
  float: left;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.p2 {
  font-size: 17px;
  line-height: 0.5;
}
.content table {
  width: 650px;
  font-size: 15px;
}
.content table td {
  width: 325px;
}
#content-wrapper {
  min-height: 1800px;
}
