* {
  box-sizing: border-box;
}
body {
  margin: auto;
}
#wrapper {
  width: 100%;
  position: absolute;
  display: inline-block;
}
#stickyNav {
  height: 238px;
  width: 100%;
  position: absolute;
  z-index: 4;
  margin: 0 auto;
  top: 0px;
}
#content-wrapper {
  margin-top: 238px;
  position: relative;
  min-height: 1543px;
  background: #f0efef;
}
#footer {
  position: relative;
}
.utility-header {
  background: #f0efef;
  height: 54px;
}
.utility-list {
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  padding-left: 0;
  list-style: none;
}
.utility-list-items {
  margin-left: -5px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
.utility-list-items a span {
  font-size: 16px;
  font-family: Georgia, serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #676767;
  background-color: #f0efef;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
.utility-list-items:hover, .utility-list-items:focus, .utility-list-items:hover a span, .utility-list-items:focus a span {
  color: white;
  background-color: #676767;
  text-decoration: none;
}
.rborder {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(208, 208, 208);
}
.utility-list .toggleUtil {
  display: none !important;
}
.phone-wrapper {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
  float: right;
  padding-right: 0;
}
.phone-wrapper img, .phone-wrapper span {
  margin: auto;
  vertical-align: middle;
}
.mid-header {
  background: white;
  height: 124px;
}
.logo-wrapper {
  float: left;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.tabs {
  float: right;
  padding-top: 48px;
  font-weight: bold;
  font-size: 21px;
  font-family: sans-serif;
  text-align: right;
  position: relative;
}
.tabs a {
  display: inline-block;
  position: relative;
  width: 260px;
  margin-left: 10px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  color: #2c4f8b;
  background-color: #a1dbe4;
}
.tabs a:hover, .tabs a.active {
  background-color: #00a2c9;
  color: white;
  text-decoration: none;
}
.tabs a .arrow-up {
  position: absolute;
  bottom: 0;
  left: 44%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 13px solid transparent;
}
.tabs a.active .arrow-up {
  border-bottom-color: #2c4e6a;
}
.main-header {
  background: #2c4e6a;
  height: 60px;
}
.main-list {
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  padding-left: 0;
  list-style: none;
}
.main-list-items {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: inherit;
}
.main-list-items a span {
  font-size: 19px;
  font-family: Georgia, serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: white;
  background-color: #2c4e6a;
}
.main-list-items:hover, .main-list-items:focus, .main-list-items:hover a span, .main-list-items:focus a span {
  color: white;
  background-color: #0095b5;
}
.squares {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
.main-list li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -10px;
  margin-top: 20px;
  padding-top: 15px;
  background-color: #0088A5;
  z-index: 1;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.4);
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
  text-align: left;
  border-bottom: 1px solid rgba(44, 78, 106, 0.5);
}
.main-list-items .dropdown-content a span {
  background-color: #0088A5;
}
.dropdown-content a:hover, .dropdown-content a:hover, .dropdown-content a:hover span, .dropdown-content a:hover span {
  background-color: #00a2c9;
}
.main-list-items:hover .dropdown-content, .main-list-items:focus .dropdown-content {
  display: block;
}
.triangle {
  position: absolute;
  display: none;
  bottom: -15px;
  z-index: 2;
  width: 100%;
  height: 21px;
  -webkit-transform: scaleX(2);
  transform: scaleX(2);
  font-size: 24px;
  color: #0095b5;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.27);
}
.main-list-items:hover .triangle, .main-list-items:focus .triangle {
  display: block;
}
.main-list-searchbar {
  width: 577px;
}
.searchbar {
  float: right;
  padding-top: 8px;
  padding-bottom: 8px;
}
.searchbar input {
  height: 40px;
  width: 180px;
  margin-right: -2px;
  border-width: 0;
  outline: 0;
}
.searchbar input[type="text"]
{
  font-size:20px;
  text-indent: 10px;
}
.searchbar button {
  height: 40px;
  width: 40px;
  background-color: white;
  box-shadow: none;
  border-left: none;
  border-width: 0;
  outline: 0;
  transition-property: background-color;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
.searchbar button:hover, .searchbar button:focus {
  background-color: #87c0f185;
}
.searchbar form {
  background-color: white;
  border-top-color: rgb(171, 171, 171);
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: rgb(171, 171, 171);
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-color: rgb(171, 171, 171);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: rgb(171, 171, 171);
  border-left-style: solid;
  border-left-width: 2px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.searchbar form button, .searchbar form input {
  display: inline-block;
  vertical-align: top;
}
