.tableofcontents {
  margin-bottom: 30px;
}
.content li {
  font-size: 17px;
  line-height: 1.7;
}
.content ul {
  list-style-type: square;
}
.bold {
  font-weight: bolder;
}
.ul, .ul li {
  line-height: 1.7;
  list-style-type: square;
}
.bufferup {
  padding-top: 15px;
}
#content-wrapper {
  min-height: 1578px;
}
