.social-footer {
  margin-top: -16px;
  background: #5383c2;
  height: 54px;
}
.social-list {
  list-style: none;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  text-align: center;
}
.social-list-items{
  display: inline-block;
  padding-right: 40px;
}
.social-list i {
  font-size: 38px;
  color: white;
}
.main-footer {
  background: #2d4e6a;
  padding-top: 80px;
  padding-bottom: 40px;
  height: 850px;
}
.fsidebar {
  color: white;
  height: 300px;
  width: 260px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid white;
}
.fsidebar img {
  filter: invert(100%);
  margin-top: -20px;
  margin-right: 10px;
}
.fsidebar img, .fsidebar .fancylogo {
  display: inline-block;
  vertical-align: middle;
}
.fsidebar .fancylogo {
  font-size: 23px;
  font-family: serif;
  font-style: oblique;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.fsidebar p {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 65px;
}
.small-caps {
  font-variant: small-caps;
}
.fmainbar {
  color: white;
  min-height: 500px;
  width: 880px;
  margin-left: -5px;
}
.fsidebar, .fmainbar {
  display: inline-block;
  vertical-align: top;
}
.fmainbar div {
  display: inline-block;
}
.fcolumn {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: -5px;
  width: 220px;
  height: 350px;
  vertical-align: top;
  font-family: serif;
  letter-spacing: 0.05em;
}
.main-footer a:focus, .main-footer a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
.fcolumn > a {
  display: inline-block;
  font-size: 22px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.fcolumn > a ~ a {
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.fmainbar .first {
  padding-left: 30px;
}
.fmainbar .last {
  padding-right: 30px;
}
.fdown-arrow {
  width: 100%;
  border-bottom: 1px solid white;
  margin: 20px 0 30px;
  position: relative;
}
.fdown-arrow::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #2c4e6a;
  display: block;
  position: absolute;
  bottom: -11px;
  left: 40px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fmission > p {
  font-size: 14px;
  font-variant: small-caps;
  letter-spacing: 0.05em;
}
.fmission > p ~ p {
  font-size: 15px;
  font-style: italic;
  font-variant: normal;
  line-height: 1.5;
}
.flegal a, .flegal p {
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
  font-family: serif;
  font-size: 18px;
}
.flegal p {
  margin: 0;
}
.centered {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.hidelink a {
  text-decoration: none;
  color: inherit;
}
