.content img {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
.p4 {
  font-size: 17px;
  font-style: italic;
  color: #0072C6;
}
.hiddendiv1, .hiddendiv2, .hiddendiv3, .hiddendiv4, .hiddendiv5, .hiddendiv6 {
  position: relative;
  padding-bottom: 35px;
  margin-bottom: 40px;
}
.content .fa-caret-down {
  position: static;
  color: white;
}
.content .fa-caret-up {
  position: static;
  color: white;
}
.toggle1, .toggle2, .toggle3, .toggle4, .toggle5, .toggle6 {
  position: absolute;
  bottom: 0px;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 15px 0 15px;
  line-height: 35px;
  background-color: #00a2c9;
  color: white;
}
.hiddendiv1 div p, .hiddendiv1 div li, .hiddendiv2 div p, .hiddendiv2 div li, .hiddendiv3 div p, .hiddendiv3 div li, .hiddendiv4 div p, .hiddendiv4 div li, .hiddendiv5 div p, .hiddendiv5 div li, .hiddendiv6 div p, .hiddendiv6 div li {
  font-size: 17px;
  line-height: 1.7;
  margin-top: 0;
}
.hiddendiv1 div, .hiddendiv2 div, .hiddendiv3 div, .hiddendiv4 div, .hiddendiv5 div, .hiddendiv6 div {
  display: none;
  padding: 1px 0 1px 0;
}
.open div {
  display: block;
}
.edittitlemargins {
  margin-bottom: 8px;
}
.content ul {
  margin-top: 0;
}
#content-wrapper {
  min-height: 1960px;
}
