.sitemap {
  font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 13px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #080808;
}
.sitemap a:hover, .sitemap a:focus {
  text-decoration: underline;
  color: #337ab7;
}
.fa-caret-right {
  color: #00a2c9;
}
.content {
  width: 710px;
  padding: 30px;
  margin-right: 70px;
}
.side-content {
  width: 360px;
  padding: 30px;
  margin-left: -5px;
}
.content, .side-content {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: top;
  min-height: 600px;
  background-color: white;
}
.tableofcontents {
  list-style: none;
  width: 300px;
  border: 1px solid #ccc;
  border-top: 0;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;
}
.tableofcontents li {
  border-top: 1px solid #ccc;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2em;
  background: #f0efef;
  color: #2c4f6b;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.tableofcontents a:hover, .tableofcontents a:focus {
  text-decoration: underline;
}
.referralbox {
  background-color: #00a2c9;
  color: white;
  position: relative;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
.fa-caret-down {
  position: absolute;
  color: #00a2c9;
  left: 25px;
}
.blue {
  font-size: 17px;
  color: #337ab7;
  font-weight: 700;
  font-family: sans-serif;
}
.side-content img, .side-content .blue {
  vertical-align: middle;
}
.side-content .title {
  font-size: 24px;
}
.side-content p {
  line-height: 1.5;
  font-size: 18px;
}
.divider {
  width: 100%;
  border-bottom: 2px solid #A4A396;
  margin: 30px 0 0px;
  height: 1px;
}
.content .coloredatag {
  color: #337ab7;
}
.coloredatag:hover, .coloredatag:focus {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.content img {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.content .title {
  font-size: 42px;
  color: #384C92;
}
.content .titletext {
  font-size: 24px;
  font-style: italic;
  color: #0072C6;
  line-height: 1.4;
}
.content .divider {
  margin-top: 15px;
  margin-bottom: 30px;
}
.p1, .p2, .p3, .p4 {
  font-size: 17px;
  line-height: 1.7;
}
.p2 {
  margin-top: 10px;
}
#content-wrapper {
  height: 1343px;
}
