.tableofcontents {
  margin-bottom: 30px;
}
.content img {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.content li {
  padding-top: 15px;
  line-height: 1.7;
}
#content-wrapper {
  min-height: 1840px;
}
