.slick-dots {
  left: 44%;
}
.p1 {
  line-height: 1;
}
.divider {
  margin: 0px 0 20px;
}
.c1pos {
  top: 40px;
  right: 40px;
  width: 470px;
}
.c2pos {
  top: 40px;
  left: 40px;
  width: 470px;
}
#content-wrapper .showlink2 {
  color: #005e74;
}
#content-wrapper .showlink2:hover, #content-wrapper .showlink2:focus {
  text-decoration: underline;
}
#content-wrapper .showlink {
  color: #384C92;
  text-decoration: none;
}
#content-wrapper .showlink:hover, #content-wrapper .showlink:focus {
  text-decoration: underline;
}
