<!DOCTYPE html>
<html>
  <head>
    <!-- Developed by Krishna Kokatay, 2019. Visit my website: www.kalightortaio.com -->
    <!-- Responsive design and grid formatting by Michael Amic-Angelo, 2019. Visit my website: www.amicandesign.com -->    
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Care</title>
    {% load static %}
    <link rel="icon" href="{% static '/website/images/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'website/cssmobile/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/cssmobile/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/cssmobile/media.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/cssmobile/pat-news-grief.css' %}">
  </head>
  <body>
      <div id="global">
    {% include "../base/pat-navbar.html" %}
      <div id="content-wrapper">
        <div class="centered hidelink mainbody">
          <img class="banner"  src="{% static '/website/images/news.png' %}" alt="Banner - Community Care + Hospice" />
          <div class="sitemap">
            <span><a href="/patients-and-caregivers/pages/home">Patients and Caregivers&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/volunteer-and-community/pages/home">&nbsp;Volunteer and Community&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/news-and-media/pages/home">&nbsp;News and Media&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief">&nbsp;About Grief&nbsp;</a></span>
          </div>
          <div class="content">
            <span class="title">About Grief</span>
            <div class="divider"></div>
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/coping-with-grief-and-loss-after-a-suicide" class="showlink">Coping with Grief and Loss After a Suicide</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/death-from-an-overdose" class="showlink">Death From an Overdose: Managing the Grief</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/grief-and-substance-abuse" class="showlink">Grief and Substance Abuse</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/grief-and-the-older-adult" class="showlink">Grief and the Older Adult</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/grieving-the-death-of-a-partner" class="showlink">Grieving the Death of a Partner/Spouse</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/loneliness-and-grief" class="showlink">Loneliness and Grief</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/mindfulness-and-grief" class="showlink">Mindfulness and Grief</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/online-condolences" class="showlink">Online Condolences</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/pet-loss" class="showlink">Pet Loss</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/pregnancy-loss" class="showlink">Pregnancy Loss</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/returning-to-school-after-death" class="showlink">Returning to School After the Sudden Death of a Loved One</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/tips-for-bereaved-teen-coping" class="showlink">Teen Grief: Tips for Coping</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/tips-for-bereaved-college-students" class="showlink">Tips for Bereaved College Students</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/when-men-grieve" class="showlink">When Men Grieve</a></span>
            <br /><br />
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/when-the-unthinkable-happens" class="showlink">When the Unthinkable Happens: Homicide and Grief</a></span>
            <br /><br />
          </div>
          <div class="side-content">
            <ul class="tableofcontents">
              <li>
                <a href="/patients-and-caregivers/news-and-media/pages/journey"><span>Journey</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/news-and-media/pages/about-grief" class="active"><span>About Grief</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/news-and-media/pages/community-connections"><span>Community Connections</span></a>
              </li>
            </ul>
          </div>
        </div>
        {% include "../base/footer.html" %}
      </div>
      </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="{% static 'website/jsmobile/navbar.js' %}" defer></script>
  </body>
</html>
