<!DOCTYPE html>
<html>
  <head>
    <!-- Developed by Krishna Kokatay, 2019. Visit my website: www.kalightortaio.com -->
    <!-- Responsive design and grid formatting by Michael Amic-Angelo, 2019. Visit my website: www.amicandesign.com -->    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Care</title>
    {% load static %}
    <link rel="icon" href="{% static '/website/images/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-needs-paid.css' %}">
  </head>
  <body>
    {% include "../base/pat-navbar.html" %}
      <div id="content-wrapper">
        <div class="centered hidelink">
          <img src="{% static '/website/images/needbanner.png' %}" height="210" width="1140" alt="Family smiling" />
          <div class="sitemap">
            <span><a href="/patients-and-caregivers/pages/home">Patients and Caregivers&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/your-needs/pages/home">&nbsp;Your Needs&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/your-needs/pages/how-is-hospice-paid-for">&nbsp;How is Hospice Paid For?</a></span>
          </div>
          <div class="content">
            <span class="title">How is Hospice Paid for?</span>
            <p><span class="titletext">Community Care & Hospice is a Medicare/Medi-Cal certified hospice program, offering a comprehensive hospice benefit. Most of our patients are Medicare/Medi-Cal eligible. You do NOT have to be over 65 to qualify for Medi-Cal.</span></p>
            <div class="divider"></div>
            <img src="{% static '/website/images/nursewheelchair.png' %}" width="350" height="260" alt="replacemelater"/>
            <p class="p1"><span>Hospice care services are paid for by Medicare, Medicaid, most commercial insurances and privately by the patient/family.</span></p>
            <p class="p2"><span>Once a diagnosis is given and a patient is determined eligible for hospice care, the hospice benefit can be elected. The hospice benefit pays for all medical care, medications and appropriate treatments that will provide comfort and alleviate symptoms and which are related to the diagnosis. Hospice cares for people wherever they live. Because of that, hospice care is provided in hospitals, nursing homes and assisted living communities as well as in private homes.</span></p>
            <p class="p3"><span>We know that health care payment can be complicated, the following is a guide to help you understand Medicare/Medicaid coverage. (If using commercial insurance, please check with the company.) </span></p>
            <p class="p4"><span>​Hospice care is covered by Medicare and Medi-Cal, Parts A, B, and C.</span></p>
            <p class="edittitlemargins"><span class="titletext2">What part of hospice care does Medicare/Medi-Cal cover?</span></p>
            <div class="hiddendiv1">
              <div>
                <ul>
                  <li><span>Physician services</span></li>
                  <li><span>Duable medical equipment (such as beds or walkers)</span></li>
                  <li><span>Medi-Cal supplies</span></li>
                  <li><span>Medications for symptom control or pain relief</span></li>
                  <li><span>Nutritional/dietary conseling</span></li>
                  <li><span>Hospice aide</span></li>
                  <li><span>Social worker services</span></li>
                  <li><span>Pain and symptom management</span></li>
                  <li><span>Extended or continuous care</span></li>
                  <li><span>Grief and loss counseling</span></li>
                </ul>
                <p><span>In most cases, supplies, equipment and even medications can be delivered to the patient's residence. Medicare supplements may help pay for particular aspects of care not fully covered by Medicare.</span></p>
              </div>
              <button class="toggle1">
                <span>show more&nbsp;&nbsp;<i class="fas fa-caret-down fa-lg"></i></span>
              </button>
            </div>
            <p class="edittitlemargins"><span class="titletext2">​​What you will be responsible for:</span></p>
            <div class="hiddendiv2">
              <div>
                <ul>
                  <li><span>Your Medicare co-pay</span></li>
                  <li><span>Commercial Insurance co-pays and deductibles</span></li>
                  <li><span>Nursing home room and board (if applicable)</span></li>
                  <li><span>Prescription co-pays</span></li>
                  <li><span>Respite care room and board fees, if not a Medicare/Medi-Cal patient</span></li>
                  <li><span>5% of the Medicare-approved amount for inpatient respite care</span></li>
                  <li><span>Treatments or medical supplies outside of the hospice plan of care</span></li>
                  <li><span>Patients and/or patient families may be responsible for some costs associated with hospice care.</span></li>
                </ul>
                <p><span class="italic">Contact us at 805.667.8558, to make sure you understand what your responsibilities are with regard to payment.</span></p>
              </div>
              <button class="toggle2">
                <span>show more&nbsp;&nbsp;<i class="fas fa-caret-down fa-lg"></i></span>
              </button>
            </div>
            <p class="edittitlemargins"><span class="titletext2">Medicare and Medi-Cal Reimbursement Rates and Regulations</span></p>
            <div class="hiddendiv3">
              <div>
                <p><span>Unlike many medical treatments which vary in cost according to location or hospital system, the Medicare reimbursement for hospice care is fixed at a daily rate, regardless of the complexity of the care involved in assuring the patient's comfort. There are four hospice reimbursement rates and they are linked to what are called the "four levels of care": routine home care, general inpatient care, respite care, and continuous care. For additional information about Medicare and Medi-Cal and the hospice benefit, please visit <a href="https://www.medicare.gov/coverage/hospice-care" target="_blank" class="showlink">Medicare</a> or <a href="https://www.dhcs.ca.gov/services/medi-cal/Pages/default.aspx" target="_blank" class="showlink">Medi-Cal</a>.</span></p>
              </div>
              <button class="toggle3">
                <span>show more&nbsp;&nbsp;<i class="fas fa-caret-down fa-lg"></i></span>
              </button>
            </div>
            <p class="edittitlemargins"><span class="titletext2">Commercial Insurance and the Hospice Benefit</span></p>
            <div class="hiddendiv4">
              <div>
                <p><span>Most commercial insurers, such as those offered through an employer, also offer a hospice benefit. Because insurance plans vary, it is important to speak with your insurance provider (and supplemental insurance provider) as well as a staff member at Community Care & Hospice to fully understand your financial obligations.</span></p>
              </div>
              <button class="toggle4">
                <span>show more&nbsp;&nbsp;<i class="fas fa-caret-down fa-lg"></i></span>
              </button>
            </div>
            <p class="edittitlemargins"><span class="titletext2">Patient Self-pay</span></p>
            <div class="hiddendiv5">
              <div>
                <p><span>Some hospice care patients are self-pay. The patient or family may choose to pay for some or all services directly.</span></p>
              </div>
              <button class="toggle5">
                <span>show more&nbsp;&nbsp;<i class="fas fa-caret-down fa-lg"></i></span>
              </button>
            </div>
            <p class="edittitlemargins"><span class="titletext2">Your Financial Health</span></p>
            <div class="hiddendiv6">
              <div>
                <p><span>We urge patients and families to consider the future by establishing a Power of Attorney (POA). Different and separate from a Health Care Power of Attorney, this individual (advocate) would be able to step in to make financial and legal decisions on behalf of the patient should he or she be unable to speak for themselves.​​​</span></p>
                <p><span>POA can be assigned to anyone and reassigned at any time and is an important part of your family's financial plan, regardless of your age or health. POA documents are available free of charge at CMBA | Lawyer Referral Service (LRS) or, contact our Volunteer Team if you wish to speak with one of our volunteer attorneys at no cost to you.​​​</span></p>
                <p><span>Planning for the future and making your health care wishes known is one of the best gifts you can give your loved ones today. Visit our Advance Care Planning page for helpful information.​​​</span></p>
              </div>
              <button class="toggle6">
                <span>show more&nbsp;&nbsp;<i class="fas fa-caret-down fa-lg"></i></span>
              </button>
            </div>
          </div>
          <div class="side-content">
            <ul class="tableofcontents">
              <li>
                <a href="/patients-and-caregivers/your-needs/pages/hospice-explained"><span>Hospice Care Explained</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/your-needs/pages/do-you-need-hospice"><span>Do You Need Hospice?</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/your-needs/pages/how-is-hospice-paid-for" class="active"><span>How is Hospice Paid For?</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/your-needs/pages/you-have-a-choice"><span>You Have a Right to Choice</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/our-services/pages/home"><span>Our Services</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% include "../base/footer.html" %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="{% static 'website/js/navbar.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'website/js/sixhiddendivs.js' %}" defer></script>
  </body>
</html>
