<!DOCTYPE html>
<html>
  <head>
    <!-- Developed by Krishna Kokatay, 2019. Visit my website: www.kalightortaio.com -->
    <!-- Responsive design and grid formatting by Michael Amic-Angelo, 2019. Visit my website: www.amicandesign.com -->    
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Care</title>
    {% load static %}
    <link rel="icon" href="{% static '/website/images/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-needs-need.css' %}">
  </head>
  <body>
    {% include "../base/pat-navbar.html" %}
      <div id="content-wrapper">
        <div class="centered hidelink">
          <img src="{% static '/website/images/needbanner.png' %}" height="210" width="1140" alt="Family smiling" />
          <div class="sitemap">
            <span><a href="/patients-and-caregivers/pages/home">Patients and Caregivers&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/your-needs/pages/home">&nbsp;Your Needs&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/your-needs/pages/do-you-need-hospice">&nbsp;Do You Need Hospice?</a></span>
          </div>
          <div class="content">
            <span class="title">Do You Need Hospice?</span>
            <p><span class="titletext">Am I or my loved one "ready" for hospice care? How do I know when the time is right to call? No one can see into the future, but here is a list of questions to ask yourself or the person for whom you are caring. The answers can help you decide if you're ready to call for help or information.</span></p>
            <div class="divider"></div>
            <table>
              <tbody>
                <tr class="checklistheader">
                  <th>
                    <span>As a patient:</span>
                  </th>
                  <th>
                    <span>As a caregiver:</span>
                  </th>
                </tr>
                <tr>
                  <td class="tdleft">
                    <div class="far fa-check-square"></div>
                    <span>Do you need help with <strong>pain and symptom management</strong> to live more "normally"?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Do you have more than one serious condition, like diabetes and heart disease?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Have you been diagnosed with a serious illness that <strong>could run its course in one year or less</strong>?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Have you been admitted to the <strong>ER/hospital several times</strong> within the last six months?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Are you having a <strong>hard time talking to your doctor and family about your personal preferences</strong> as you consider end-of-life care choices?</span>
                    <p></p>
                  </td>
                  <td class="tdright">
                    <div class="far fa-check-square"></div>
                    <span>How many <strong>hours a day or week</strong> do you spend <strong>taking care of your loved one</strong>?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Do you feel <strong>overwhelmed</strong> or isolated?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Are you getting enough <strong>help from friends and family members</strong>?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Have you been ill recently?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Are you experiencing <strong>sleep issues</strong>?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Are you <strong>irritable or weepy</strong>?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Is the situation </strong>taking a toll on your personal or professional life</strong>?</span>
                    <p></p>
                    <div class="far fa-check-square"></div>
                    <span>Is caregiving causing a <strong>financial strain</strong>?</span>
                    <p></p>
                  </td>
                </tr>
              </tbody>
            </table>
            <span><strong>If you see your situation in these questions</strong>, it may be time to call 805.667.8558</span><br /><br />
            <span class="title2">Help Us Help You Faster</span><br />
            <p class="nmt"><span>The following information may help us serve you faster:</span></p>
            <ul>
              <li><span>Patient name and diagnosis</span></li>
              <li><span>Physician's name</span></li>
              <li><span>Primary contact besides patient/caregiver</span></li>
              <li><span>Insurance Provider</span></li>
            </ul>
          </div>
          <div class="side-content">
            <ul class="tableofcontents">
              <li>
                <a href="/patients-and-caregivers/your-needs/pages/hospice-explained"><span>Hospice Care Explained</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/your-needs/pages/do-you-need-hospice" class="active"><span>Do You Need Hospice?</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/your-needs/pages/how-is-hospice-paid-for"><span>How is Hospice Paid For?</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/your-needs/pages/you-have-a-choice"><span>You Have a Right to Choice</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/our-services/pages/home"><span>Our Services</span></a>
              </li>
            </ul>
            <div class="referralbox">
              <span class="title">We Can Help</span><br />
              <p><span>Speak with the referral team by contacting us, available during all days of the week. An in-person visit can also be scheduled if it is needed.</span></p>
              <div class="fa fa-caret-down fa-3x"></div>
            </div>
            <span class="blue">Referral Team</span><br />
            <img src="{% static 'website/images/phone-favicon.ico' %}" height="16" width="16" alt="phone_icon">
            <a href="tel:8056678558"><span class="blue">&nbsp;&nbsp;805.667.8558&nbsp;</span></a>
            <div class="divider"></div>
          </div>
        </div>
      </div>
      {% include "../base/footer.html" %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="{% static 'website/js/navbar.js' %}" defer></script>
  </body>
</html>
