@media only screen and (min-width: 1024px){
  .content img {
    float: right;
    margin: -55px 10px 10px 10px;
  }
  .bufferup {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 786px){

}

@media only screen and (min-width: 381px){

}

@media only screen and (max-width: 381px){

}

