@media only screen and (min-width: 1024px){
 
  .content img {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
  }
  .content li {
    padding-top: 15px;
    line-height: 1.7;
  }
  #content-wrapper {
    min-height: 1840px;
  }
}

@media only screen and (min-width: 786px){

}

@media only screen and (min-width: 381px){

}

@media only screen and (max-width: 381px){

}