@media only screen and (min-width: 1024px){
    
    .content li {
      font-size: 17px;
      line-height: 1.7;
    }
    .content ul {
      list-style-type: square;
    }
    .bold {
      font-weight: bolder;
    }
    .ul, .ul li {
      line-height: 1.7;
      list-style-type: square;
    }
    .bufferup {
      padding-top: 15px;
    }
  
}

@media only screen and (min-width: 786px){

}

@media only screen and (min-width: 381px){

}

@media only screen and (max-width: 381px){

}