<!DOCTYPE html>
<html>
  <head>
    <!-- Developed by Krishna Kokatay, 2019. Visit my website: www.kalightortaio.com -->
    <!-- Responsive design and grid formatting by Michael Amic-Angelo, 2019. Visit my website: www.amicandesign.com -->    
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Care</title>
    {% load static %}
    <link rel="icon" href="{% static '/website/images/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-about-ac.css' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16669786665"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-16669786665');
    </script>
  </head>
  <body>
    {% include "../base/pat-navbar.html" %}
      <div id="content-wrapper">
        <div class="centered hidelink">
          <img src="{% static '/website/images/gazebo.png' %}" height="210" width="1140" alt="Family smiling" />
          <div class="sitemap">
            <span><a href="/patients-and-caregivers/pages/home">Patients and Caregivers&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/about-us/pages/home">&nbsp;About Us&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/about-us/pages/affiliations-and-collaborations">&nbsp;Affiliations and Collaborations&nbsp;</a></span>
          </div>
          <div class="content">
            <span class="title">Affiliations and Collaborations</span>
            <ul>
              <li><span class="p1">Ventura and Greater Los Angeles Hospitals and physician groups</span></li>
              <li><span class="p1">Numerous nursing homes, assisted living facilities, and group homes.</span></li>
              <li><span class="p1">A network of health practitioners, pharmacies, and fellow caregivers.</span></li>
            </ul>
          </div>
          <div class="side-content">
            <ul class="tableofcontents">
              <li>
                <a href="/patients-and-caregivers/about-us/pages/history"><span>History</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/about-us/pages/non-discrimination-statement"><span>Non Discrimination Statement</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/about-us/pages/notice-of-privacy-practices"><span>Notice of Privacy Practices</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/about-us/pages/affiliations-and-collaborations" class="active"><span>Affiliations and Collaborations</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/about-us/pages/licensure-and-accreditation"><span>Licensure and Accreditation</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/about-us/pages/communication-policy"><span>Communication Policy</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/about-us/pages/sitemap"><span>Sitemap</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% include "../base/footer.html" %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="{% static 'website/js/navbar.js' %}" defer></script>
  </body>
</html>
