* {
    box-sizing: border-box;
}
.bold {
    font-weight: bold;
}
.boldblue {
    font-weight: bolder;
    color: #0072C6;
}
.italic {
    font-style: italic;
}
.black{
    color: #444 !important
}
.uppercase {
    text-transform: uppercase;
}
.content strong {
    color: rgb(0, 114, 198);
}
.accent {
    color: #0072C6;
    font-weight: bold;
    text-transform: uppercase;
}
.content button {
    position: relative;
    display: block;
    width: 100%;
    background-color: #a1dbe4;
    padding: 7px 0 7px 15px;
    color: #005E74;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vw;
    border: 0;
    outline: none;
  }
  .buttonindicator {
    position: absolute;
    vertical-align: baseline;
    padding: 5px 10px;
    background-color: #00a2c9;
    color: white;
    top: 0;
    right: 0;
    height: 100%;
  }
  .content button:hover .buttonindicator {
    background-color: #005E74;
  }
.ham{
    background-color: rgba(103, 103, 103, 0.8);
    box-shadow: 1px 1px 1px rgba(85, 85, 85, 0.8);
}
.burger{
    background-color: rgba(39, 39, 39, 0.8);
    box-shadow: 1px 1px 1px rgba(85, 85, 85, 0.8);
}
.hamburger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(251, 250, 255, 0.2);
    border-radius: 15%;
    box-shadow: inset 0 0 10px rgba(34, 81, 122, 0.9);
}
.hamburger:hover{
    background: rgba(251, 250, 255, 0.8);
    transition: 1.2s ease-in-out;
}
.testimonial {
    font-style: italic;
}
.noitalics {
    font-style: normal;
}
.pc {
    text-align: center;
}
#content-wrapper .showlink {
    text-decoration: underline;
    color: #337ab7;
}
#content-wrapper .showlink2 {
  color: #005e74;
}
#content-wrapper {
    height: fit-content;
}
.hidelink a {
    text-decoration: none;
    color: inherit;
}
/* Sitemap */
.sitemap {
    font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    color: #080808;
}
.sitemap a:hover, .sitemap a:focus {
    text-decoration: underline;
    color: #337ab7;
}
.fa-phone{
    color: #00a2c9;
    transform: scaleX(-1);
}
.fa-caret-right {
    color: #00a2c9;
}
/* Default Article Layout */
.content, .side-content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
/* Sidebar Navigation Pane */
.tableofcontents {
    list-style: none;
}
.tableofcontents li {
    background: #f0efef;
    color: #2c4f6b;
}

.tableofcontents a:hover, .tableofcontents a:focus, .tableofcontents a.active {
    text-decoration: underline;
}
.referralbox {
    background-color: #00a2c9;
    color: white;
}
.fa-caret-down {
    color: #00a2c9;
}
.blue {
    color: #337ab7;
    font-family: sans-serif;
}
/* Main Article Section */
.content .coloredatag {
    color: #337ab7;
}
.coloredatag:hover, .coloredatag:focus {
    text-decoration: underline;
}
.content .title {
    color: #384C92;
}
.content .titletext {
    font-style: italic;
    color: #0072C6;
}
.content .titletext2 {
    color: #384C92;
}
.side-content .titletext2 {
    color: #384C92;
}
/* Home pages */

.slick-dots {
    list-style: none;
}
.slick-dots li button {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: rgba(255,255,255,0.5);
}
.slick-dots li button:focus {
    outline: 0;
    border-radius: 50%;
}
.slick-active {
    background-color: white;
    border-radius: 50%;
}
.slick-slide {
    background-color: transparent !important;
}
.nright {
    background-color: white;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2)
}
.nleft {
    background-color: white;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2)
}
.navibar {
    background-color: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}
.navibar li {
    font-family: sans-serif;
    list-style: none;
}
.navibar i {
    color: #19b7d7;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.navibar li:hover i {
    color: #337ab7;
}
.sidepanel {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.sptop .showlink {
    font-style: italic;
}
.spbottom .showlink {
    font-style: italic;
}
.text-wrapper {
    font-family: Arial, Helvetica, sans-serif;
}
.mainpanel .showlink {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.mp1 {
    font-family: Arial, Helvetica, sans-serif;
}
.mptop {
    background-color: white;
}
.mpmiddle {
    background-color: white;
}
.mpbottom {
    background-color: white;
}

.mplearnmore {
    text-transform: uppercase;
    font-weight: bold;
}
.caption {
    background: rgba(255, 255, 255, 0.5);
    color: #384C92;
    font-family: sans-serif;
}
.caption a:hover, .caption a:focus {
    text-decoration: underline;
}
.ctitle {
    font-style: italic;
    font-weight: bold;
}
.clearnmore {
    text-transform: uppercase;
    font-weight: bolder;
}
#content-wrapper {
    background: #f0efef;
}
.utility-header {
    background: #f0efef;
}
.utility-list {
    list-style: none;
}
.utility-list-items {
    transition-property: color, background-color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}
.utility-list-items a span {
    font-family: Georgia, serif;
    color: #676767;
    background-color: #f0efef;
    transition-property: color, background-color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}
.utility-list-items:hover, .utility-list-items:focus, .utility-list-items:hover a span, .utility-list-items:focus a span, .phone-wrapper {
    color: white;
    background-color: #676767;
    text-decoration: none;
}
.phone-wrapper{
    font-family: Georgia, serif;
    color: #676767;
    background-color: #f0efef;
}
.phone-wrapper:hover{
    color: #00a2c9;
    background-color: #f0efef;
    transition-property: color, background-color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}
.rborder {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(208, 208, 208);
}

.mid-header {
    background: white;
}
.tabs {
    font-weight: bold;
    font-family: sans-serif;
}
.tabs a {
    transition-property: color, background-color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    color: #2c4f8b;
    background-color: #a1dbe4;
}
.tabs a:hover, .tabs a.active {
    background-color: #00a2c9;
    color: white;
    text-decoration: none;
}
.tabs a.active .arrow-up {
    border-bottom-color: #2c4e6a;
}
.main-header {
    background: #2c4e6a;
}
.main-list {
    list-style: none;
}
.main-list-items {
    background-color: inherit;
}
.main-list-items a span {
    font-family: Georgia, serif;
    color: white;
}
.main-list-items:hover, .main-list-items:focus, .main-list-items:hover a span, .main-list-items:focus a span {
    color: white;
    background-color: rgba(0, 149, 181, 0.9);
    transition: 0.4s ease-out;
}
.squares {
    color: rgba(255, 255, 255, 0.5);
}
.main-list li {
    list-style: none;
}
.dropdown-content {
    background-color: rgb(0, 136, 165, 0.9);
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 10px 6px rgba(50, 50, 50, 0.2);
}
.dropdown-content a {
    color: white;
}
/* .main-list-items .dropdown-content a span {
    transition: 0.4s ease-out;
    background-color: #0088A5;
} */
.dropdown-content a:hover, .dropdown-content a:hover, .dropdown-content a:hover span, .dropdown-content a:hover span {
    background-color: #00a2c9;
    transition: 0.4s ease-out;
}
.triangle {
    color: #0095b5;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.27);
}
.searchbar button {
    background-color: white;
    box-shadow: none;
    border-left: none;
    border-width: 0;
    outline: 0;
    transition-property: background-color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}
.searchbar button:hover, .searchbar button:focus {
    background-color: #87c0f185;
}
.searchbar form {
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

/* Misc */
.scheader {
    color: rgb(0, 94, 116);
    text-transform: uppercase;
}
.scdiv {
    background-color: #a1dbe4;
}
#content-wrapper .barleft {
    font-weight: bolder;
}
.showlink:hover, .showlink:focus {
    text-decoration: underline;
}
.content .showlink {
    color: #0072C6;
    text-decoration: underline;
}
.title2 {
    color: rgb(44, 38, 81);
}
.tdleft {
    border-left: 1px solid #005594;
}
.tdright {
    border-left: 1px solid #005594;
    border-right: 1px solid #005594;
}
.content .titletext3 {
    color: #384C92;
    font-style: italic;
}
#content-wrapper .blearnmore {
    font-weight: bolder;
    color: #005e74;
    text-transform: uppercase;
}
#content-wrapper .blearnmore:hover, #content-wrapper .blearnmore:focus {
    text-decoration: underline;
}