@media only screen and (min-width: 1024px){

    .p1, .hiddendiv1, .content li {
      font-size: 17px;
      line-height: 1.7;
    }
    .bold {
      font-weight: bolder;
    }
    .content .fa-caret-down {
      position: static;
      color: white;
    }
    .content .fa-caret-up {
      position: static;
      color: white;
    }
    .content img {
      float: left;
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
}

@media only screen and (min-width: 786px){

}

@media only screen and (min-width: 381px){

}

@media only screen and (max-width: 381px){

}