@media only screen and (min-width: 1024px){

  .content img {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
  }
  .p2 {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 786px){

}

@media only screen and (min-width: 381px){

}

@media only screen and (max-width: 381px){

}