    {% load static %}
    <div id="footer">
      <div class="social-footer">
        <div class="centered hidelink">
          <ul class="social-list">
            <li class="social-list-items">
              <a target="_blank" href="https://www.google.com/maps/place/Community+Care+and+Hospice+LLC/@34.221085,-119.016831,15z/data=!4m5!3m4!1s0x0:0x401276adce2f8dd7!8m2!3d34.221085!4d-119.016831">
                <i class="fab fa-google-plus-square"></i>
              </a>
            </li>
            <li class="social-list-items">
              <a target="_blank" href="https://twitter.com/ComCareHospice">
                <i class="fab fa-twitter-square"></i>
              </a>
            </li>
            <li class="social-list-items">
              <a target="_blank" href="https://www.facebook.com/communitycareandhospice/">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li class="social-list-items">
              <a target="_blank" href="https://www.yelp.com/biz/community-care-and-hospice-ventura">
                <i class="fab fa-yelp"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-footer">
        <div class="centered hidelink">
          <div class="fsidebar">
            <img src="{% static 'website/images/black_favicon.png' %}" width="50" height="50" alt="bird">
            <p class="fancylogo"><span>Community Care <br />& Hospice</span></p>
            <p class="small-caps"><span>HEADQUARTERS</span></p>
            <p><span>4000 Calle Tecate, Suite 114</span></p>
            <p><span>Camarillo, CA 93012</span></p>
            <p class="small-caps"><span>PHONE</span></p>
            <p><span>805.667.8558</span></p>
            <p class="small-caps"><span>FAX</span></p>
            <p><span>805.384.0933</span></p>
          </div>
          <div class="fmainbar">
            <div class="fcolumn first">
              <a href="/patients-and-caregivers/about-us/pages/home"><span>About Us</span></a><br />
              <a href="/patients-and-caregivers/about-us/pages/history"><span>History</span></a><br />
              <a href="/patients-and-caregivers/about-us/pages/non-discrimination-statement"><span>Non-Discrimination Statement</span></a><br />
              <a href="/patients-and-caregivers/about-us/pages/notice-of-privacy-practices"><span>Notice of Privacy Practices</span></a><br />
              <a href="/patients-and-caregivers/about-us/pages/affiliations-and-collaborations"><span>Affiliations and Collaborations</span></a><br />
              <a href="/patients-and-caregivers/about-us/pages/licensure-and-accreditation"><span>Licensure and Accreditation</span></a><br />
            </div>
            <div class="fcolumn">
              <a href="javascript:;"><span>Staff/Volunteers</span></a><br />
              <a href="https://jncloud.net/"><span>JNCloud</span></a><br />
              <a href="javascript:;"><span>Staff Portal</span></a><br />
              <a href="/patients-and-caregivers/about-us/pages/communication-policy"><span>Communication Policy</span></a><br />
            </div>
            <div class="fcolumn">
              <a href="/professionals/careers/pages/home"><span>Careers</span></a><br />
              <a href="/professionals/careers/pages/job-openings"><span>Job Openings</span></a><br />
            </div>
            <div class="fcolumn last">
              <a href="javascript:;"><span>Useful Links</span></a><br />
              <a href="/patients-and-caregivers/news-and-media/pages/home"><span>News and Media</span></a><br />
            </div>
            <div class="fdown-arrow"></div>
            <div class="fmission">
              <p><span>OUR MISSION</span></p>
              <p><span>Community Care & Hospice provides end-of-life care, caregiver support, and bereavement services throughout Ventura and Greater Los Angeles. In celebration of the individual worth of each life, we strive to relieve suffering, enhance comfort, promote quality of life, foster choice in end-of-life care, and support effective grieving.</span></p>
            </div>
            <div class="flegal">
              <a href="/patients-and-caregivers/about-us/pages/sitemap"><span>Sitemap</span></a>
              <a href="/patients-and-caregivers/about-us/pages/notice-of-privacy-practices"><span>Privacy</span></a>
              <p><span>&copy; 2019 Community Care & Hospice All Rights Reserved.</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
