<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Developed by Krishna Kokatay, 2019. Visit my website: www.kalightortaio.com -->
    <meta charset="utf-8">
    <title>Community</title>
    {% load static %}
    <style>
    body, html {
      height: 100%;
      margin: 0;
    }
    .bg {
      background-image: url("/static/website/images/mobile.png");
      height: 100%;
      background-position: center;
      background-repeat: repeat;
      background-size: 100% 500px;
    }
    </style>
  </head>
  <body>
  <div class="bg"></div>
  </body>
</html>

