    {% load static %}
    <div id="container">
      <div id="stickyNav">
        <div class="utility-header hidelink">
          <div class="centered">
            <ul class="utility-list">
              <li class="utility-list-items rborder">
                <a href="/patients-and-caregivers/pages/home">
                  <span>Home</span>
                </a>
              </li>
              <li class="utility-list-items rborder">
                <a href="/patients-and-caregivers/contact-us/pages/home">
                  <span>Contact Us</span>
                </a>
              </li>
              <li class="tts utility-list-items rborder">
                <a href="javascript:;">
                  <span>Text to Speech</span>
                </a>
              </li>
              <li class="utility-list-items toggleUtil rborder">
                <a href="javascript:;">
                  <span>Turn Off Text to Speech</span>
                </a>
              </li>
              <li class="utility-list-items rborder">
                <a href="javascript:;" class="zoomout">
                  <span>Zoom Out</span>
                </a>
              </li>
              <li class="utility-list-items rborder">
                <a href="javascript:;" class="zoomreset">
                  <span>Zoom Reset</span>
                </a>
              </li>
              <li class="utility-list-items">
                <a href="javascript:;" class="zoomin">
                  <span>Zoom In</span>
                </a>
              </li>
            </ul>
            <div class="phone-wrapper utility-list-items">
              <img src="{% static 'website/images/phone-favicon.ico' %}" height="16" width="16" alt="phone_icon">
              <a href="tel:8056678558"><span>&nbsp;Main Telephone&nbsp;805.667.8558&nbsp;</span></a>
            </div>
          </div>
        </div>
        <div class="mid-header">
          <div class="centered hidelink">
            <div class="logo-wrapper">
              <img src="{% static 'website/images/logo.png' %}" height="90" width="400" alt="logo">
            </div>
            <div class="tabs">
                <a class="patient-tab active" href="/patients-and-caregivers/pages/home">
                  <span>Patients and Caregivers</span>
                  <div class="arrow-up"></div>
                </a>
                <a class="professional-tab" href="/professionals/pages/home">
                  <span>Professionals</span>
                  <div class="arrow-up"></div>
                </a>
            </div>
          </div>
        </div>
        <div class="main-header">
          <div class="centered hidelink">
            <ul class="main-list">
              <li class="main-list-items">
                <a href="/patients-and-caregivers/your-needs/pages/home">
                  <span>Your Needs</span>
                </a>
                <span class="triangle">▼</span>
                <div class="dropdown-content">
                  <a href="/patients-and-caregivers/your-needs/pages/hospice-explained">
                    <span>Hospice Care Explained</span>
                  </a>
                  <a href="/patients-and-caregivers/your-needs/pages/do-you-need-hospice">
                    <span>Do You Need Hospice?</span>
                  </a>
                  <a href="/patients-and-caregivers/your-needs/pages/how-is-hospice-paid-for">
                    <span>How is Hospice Paid For?</span>
                  </a>
                  <a href="/patients-and-caregivers/your-needs/pages/you-have-a-choice">
                    <span>You Have A Right to Choice</span>
                  </a>
                </div>
              </li>
              <li class="squares">
                <span>&#9632;</span>
              </li>
              <li class="main-list-items">
                <a href="/patients-and-caregivers/our-services/pages/home">
                  <span>Our Services</span>
                </a>
                <span class="triangle">▼</span>
                <div class="dropdown-content">
                  <a href="/patients-and-caregivers/our-services/pages/care-settings">
                    <span>Care Settings</span>
                  </a>
                  <a href="/patients-and-caregivers/our-services/pages/quality-assurance">
                    <span>Quality Assurance</span>
                  </a>
                  <a href="/patients-and-caregivers/our-services/pages/caregiver-training-guide">
                    <span>Caregiver Training Guide</span>
                  </a>
                </div>
              </li>
              <li class="squares">
                <span>&#9632;</span>
              </li>
              <li class="main-list-items">
                <a href="/patients-and-caregivers/grief-services/pages/home">
                  <span>Grief Services</span>
                </a>
                <span class="triangle">▼</span>
                <div class="dropdown-content">
                  <a href="/patients-and-caregivers/grief-services/pages/FAQ">
                    <span>FAQ</span>
                  </a>
                  <a href="/patients-and-caregivers/grief-services/pages/resources">
                    <span>Resources</span>
                  </a>
                  <a href="/patients-and-caregivers/grief-services/pages/reading-and-information">
                    <span>Reading and Information</span>
                  </a>
                </div>
              </li>
              <li class="squares">
                <span>&#9632;</span>
              </li>
              <li class="main-list-items">
                <a href="/patients-and-caregivers/volunteer-and-community/pages/home">
                  <span>Volunteer/Community</span>
                </a>
                <span class="triangle">▼</span>
                <div class="dropdown-content">
                  <a href="/patients-and-caregivers/volunteer-and-community/pages/prospective-volunteers">
                    <span>Prospective Volunteers</span>
                  </a>
                  <a href="/patients-and-caregivers/news-and-media/pages/home">
                    <span>News and Media</span>
                  </a>
                </div>
              </li>
              <li class="squares">
                <span>&#9632;</span>
              </li>
              <li class="main-list-items giving-back">
                <a href="/patients-and-caregivers/giving-back/pages/home">
                  <span>Giving Back</span>
                </a>
                <span class="triangle">▼</span>
                <div class="dropdown-content">
                  <a href="/patients-and-caregivers/giving-back/pages/community-supporters">
                    <span>Community Supporters</span>
                  </a>
                  <a href="/patients-and-caregivers/giving-back/pages/donate-to-charity">
                    <span>Charities</span>
                  </a>
                  <a href="/patients-and-caregivers/giving-back/pages/patient-wishlist">
                    <span>Patient Wish List</span>
                  </a>
                </div>
              </li>
              <li class="main-list-searchbar">
                <div class="searchbar">
                  <script type="text/javascript" src="{% static 'website/js/searchbar.js' %}" defer></script>
                  <!-- Credit to https://stackoverflow.com/users/153723/ergec -->
                  <div style="width:0px;overflow:hidden;height:0px;">
                    <gcse:search></gcse:search>
                  </div>
                  <form id="searchbox_001850937032020622434:loofifflmae">
                    <input placeholder="Search..." id="q" style="" name="q" size="75" type="text"/>
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
