<!DOCTYPE html>
<html>
  <head>
    <!-- Developed by Krishna Kokatay, 2019. Visit my website: www.kalightortaio.com -->
    <!-- Responsive design and grid formatting by Michael Amic-Angelo, 2019. Visit my website: www.amicandesign.com -->    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Care</title>
    {% load static %}
    <link rel="icon" href="{% static '/website/images/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-home.css' %}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  </head>
  <body>
    {% include "./pat-navbar.html" %}
      <div id="content-wrapper">
        <div class="centered hidelink">
          <div class="content-top">
            <div class="image">
              <img src="{% static 'website/images/family.png' %}"  width="1140" height="465" alt="family smiling">
              <div class="caption c4pos">
                <a href="/patients-and-caregivers/your-needs/pages/do-you-need-hospice"><span class="ctitle">We called and now we have more time to be a family.</span></a><br /><br  />
                <span>Is now the right time to call Community Care & Hospice? Take a quick quiz to find out more.</span><br />
                <a href="/patients-and-caregivers/your-needs/pages/do-you-need-hospice"><span class="clearnmore">Learn more <span class="fa fa-caret-right"></span></span></a>
              </div>
            </div>
            <div class="image">
              <img src="{% static 'website/images/guitar.png' %}"  width="1140" height="465" alt="elderly woman playing guitar">
              <div class="caption c2pos">
                <a href="/patients-and-caregivers/our-services/pages/home"><span class="ctitle">It’s not about giving up. It’s about taking control.</span></a><br /><br  />
                <span>Our pain and symptom management program can help you live each day on your terms.</span>
                <a href="/patients-and-caregivers/our-services/pages/home"><span class="clearnmore">Learn more <span class="fa fa-caret-right"></span></span></a>
              </div>
            </div>
            <div class="image">
              <img src="{% static 'website/images/grandson.png' %}"  width="1140" height="465" alt="grandfather spending time with grandson">
              <div class="caption c3pos">
                <a href="/patients-and-caregivers/grief-services/pages/home"><span class="ctitle">Are you grieving a loss or know someone who is?</span></a><br /><br  />
                <span>Grief affects all ages, races and genders. Our bereavement services offer free resources and caring professionals to our community.</span>
                <a href="/patients-and-caregivers/grief-services/pages/home"><span class="clearnmore">Learn more <span class="fa fa-caret-right"></span></span></a>
              </div>
            </div>
            <div class="image">
              <img src="{% static 'website/images/cooking.png' %}" width="1140" height="465" alt="grandma, mom, and daughter cooking">
              <div class="caption c1pos">
                <a href="/patients-and-caregivers/our-services/pages/care-settings"><span class="ctitle">They’ll always remember girls' night in.</span></a><br /><br  />
                <span>Our specialized services can make it easier to keep loved-ones together at home.</span>
                <a href="/patients-and-caregivers/our-services/pages/care-settings"><span class="clearnmore">Learn more <span class="fa fa-caret-right"></span></span></a>
              </div>
            </div>
          </div>
          <div class="notch">
            <div class="nleft"></div>
            <div class="nright"></div>
          </div>
          <ul class="navibar">
            <li>
              <a href="/professionals/refer-a-patient/pages/home">
                <i class="fas fa-notes-medical fa-3x"></i><br />
                <span>Referral</span>
              </a>
            </li>
            <li>
              <a href="mailto:comcareh@gmail.com" target="_blank">
                <i class="fas fa-envelope fa-3x"></i><br />
                <span>Send Us An Email</span>
              </a>
            </li>
            <li>
              <a href="/patients-and-caregivers/giving-back/pages/home">
                <i class="fas fa-hand-holding-heart fa-3x"></i><br />
                <span>Donations <br /> & Charities</span>
              </a>
            </li>
            <li>
              <a href="tel:8056678558">
                <i class="fas fa-phone fa-3x"></i><br />
                <span>How Can We Help? <br />805.667.8558</span>
              </a>
            </li>
            <li>
              <a href="/patients-and-caregivers/contact-us/pages/home">
                <i class="fas fa-map-marked-alt fa-3x"></i><br />
                <span>Office and Area <br /> of Service Location</span>
              </a>
            </li>
          </ul>
          <div class="articlesection">
            <div class="sidepanel">
              <div class="sptop">
                <p><span><a href="/patients-and-caregivers/about-us/pages/home" class="showlink">About Us</a></span></p>
                <p class="p1"><span>Community Care & Hospice has been a member of the Ventura and Greater Los Angeles community for several years now. We are your neighbors, friends, caregivers, and family members.</span></p>
              </div>
              <div class="divider"></div>
              <div class="spbottom">
                <p><span><a href="/patients-and-caregivers/news-and-media/pages/home" class="showlink">News and Media</a></span></p>
                <p class="p1"><span>As a regionally recognized expert in hospice care, Community Care & Hospice provides local and national media resources, experts, patient stories and other materials necessary to educate our community and public figures about end-of-life care.</span></p>
              </div>
            </div>
            <div class="mainpanel">
              <div class="mptop">
                <img src="{% static '/website/images/walking.png' %}" width="300" height="215" alt="replacemelater" />
                <div class="text-wrapper">
                  <a href="/patients-and-caregivers/news-and-media/pages/journey/myths-about-hospice" class="showlink"><span>Get the Facts: 8 Myths About Hospice</span></a>
                  <p class="bufferup mp1"><span>There are many incorrect assumptions made about medical care for the seriously ill. To make the healthcare choices that are best for you and your family you need the facts.</span><br /><span class="mplearnmore"><a href="/patients-and-caregivers/news-and-media/pages/journey/myths-about-hospice" class="showlink2">Learn more <span class="fa fa-caret-right"></span><span class="fa fa-caret-right"></span></span></a></p>
                </div>
              </div>
              <div class="mpmiddle">
                <img src="{% static '/website/images/couple.png' %}" width="300" height="215" alt="Elderly Couple" />
                <div class="text-wrapper">
                  <a href="/patients-and-caregivers/your-needs/pages/do-you-need-hospice" class="showlink"><span>Do You Need Hospice?</span></a>
                  <p class="bufferup mp1"><span>Are you or a loved one "ready" for hospice care? How do you know when the time is right to call? No one can see into the future, but here is a list of questions to ask yourself or the person for whom you are caring.</span><br /><span class="mplearnmore"><a href="/patients-and-caregivers/your-needs/pages/do-you-need-hospice" class="showlink2">Learn more <span class="fa fa-caret-right"></span><span class="fa fa-caret-right"></span></span></a></p>
                </div>
              </div>
              <div class="mpbottom">
                <img src="{% static '/website/images/brlogo.png' %}" width="300" height="215"alt="Be Remembered Logo" />
                <div class="text-wrapper">
                  <a href="https://beremembered.com/" class="showlink" target="_blank"><span>The Gift of Care</span></a>
                  <p class="bufferup mp1"><span>Create and share my bucket list. Write my biography, my words of wisdom and my funeral plans to share with family & friends. Free site for recording your life.</span><br /><span class="mplearnmore"><a href="" class="showlink2">Learn more <span class="fa fa-caret-right"></span><span class="fa fa-caret-right"></span></span></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "./footer.html" %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="{% static 'website/js/navbar.js' %}" defer></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
    <script type="text/javascript" src="{% static 'website/js/carousel.js' %}" defer></script>
  </body>
</html>
