<!DOCTYPE html>
<html>
  <head>
    <!-- Developed by Krishna Kokatay, 2019. Visit my website: www.kalightortaio.com -->
    <!-- Responsive design and grid formatting by Michael Amic-Angelo, 2019. Visit my website: www.amicandesign.com -->    
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Care</title>
    {% load static %}
    <link rel="icon" href="{% static '/website/images/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-news-grief-article.css' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16669786665"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-16669786665');
    </script>
  </head>
  <body>
    {% include "../../base/pat-navbar.html" %}
      <div id="content-wrapper">
        <div class="centered hidelink">
          <img src="{% static '/website/images/news.png' %}" height="210" width="1140" alt="Family smiling" />
          <div class="sitemap">
            <span><a href="/patients-and-caregivers/pages/home">Patients and Caregivers&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/volunteer-and-community/pages/home">&nbsp;Volunteer and Community&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/news-and-media/pages/home">&nbsp;News and Media&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief">&nbsp;About Grief&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/when-the-unthinkable-happens">&nbsp;When the Unthinkable Happens: Homicide and Grief&nbsp;</a></span>
          </div>
          <div class="content">
            <img class="bufferdown" src="{% static '/website/images/crime.png' %}" width="650" height="425" alt="replacemelater" />
            <span class="title">When the Unthinkable Happens: Homicide and Grief</span>
            <p class="p1"><span>​It seems as if the news is filled with senseless murders and of inexplicable interactions between the police and the community. The inconceivable happens – a special person dies in a sudden and unexpected way. When a loved one is murdered, family and friends often experience traumatic symptoms along with grief reactions.</span></p>
            <p class="p1"><span>Homicide is so sudden and unanticipated. It falls outside the usual experience of what one expects life to be like. Abruptly losing a person in this manner can shatter one’s sense of well-being. Strong reactions are common, including fear, helplessness, shock, anger and even horror. These trauma reactions are normal responses to an extremely difficult time in our lives. But when you mix these reactions with grief, the results can be overwhelming.</span></p>
            <p class="p1"><span>Grieving parents of murdered children and grandchildren often mention that they feel like they are in “another world,” but the world around them doesn’t stop. It’s common to feel a sense of numbness, of “being in a fog.”</span></p>
            <p class="p1"><span>You may also feel:</span></p>
            <ul>
              <li><span class="p1">Disbelief at what happened</span></li>
              <li><span class="p1">Intense rage at the guilty party</span></li>
              <li><span class="p1">Guilty as if somehow you could have prevented this tragedy</span></li>
              <li><span class="p1">Preoccupied with visual images or sounds</span></li>
              <li><span class="p1">Fear, distrust, helplessness, and hypervigilance</span></li>
              <li><span class="p1">Blame, isolation, exploitation</span></li>
              <li><span class="p1">Anger</span></li>
            </ul>
            <p class="p1"><span>The signs and symptoms of a stress reaction may last a few days, a few weeks, a few months, or longer, depending on the severity of the traumatic death. The understanding and support of family and friends can help the stress reactions pass more quickly. Here are a number of tips that can help during this very difficult time:</span></p>
            <ul>
              <li><span class="p1">Maintain as normal a schedule as possible (as impossible as it seems); structure your time</span></li>
              <li><span class="p1">Follow the basics for good health (even when you don’t feel like it) – rest, eat well, exercise</span></li>
              <li><span class="p1">Reduce other stressors as much as possible – make to do lists, be patient with yourself when you can’t find your keys, limit distractions that might interfere with concentration</span></li>
              <li><span class="p1">Be aware of numbing the pain with overuse of drugs or alcohol; go easy on caffeine</span></li>
              <li><span class="p1">Talk to people – reach out, spend time with others</span></li>
              <li><span class="p1">Do things that feel good to you – take a walk, listen to music, keep a feelings journal, etc.</span></li>
              <li><span class="p1">Set boundaries with law enforcement officials, news media and friends and family</span></li>
              <li><span class="p1">Give yourself permission to feel the pain and share these feelings with others</span></li>
              <li><span class="p1">Don’t feel the need to fight reoccurring thoughts, dreams or flashbacks; they are normal and will decrease overtime and become less painful</span></li>
            </ul>
            <p class="p1"><span>Above all, know that you’re not going crazy. Your reactions are normal. However, there are times when a traumatic death is so painful that professional assistance may be helpful. Seek professional help if anger, anxiety and depression persist, worsen or begin to interfere with your life, job or relationships. Be kind and gentle with yourself and remember that there is no right or wrong way to grieve.</span></p>
          </div>
          <div class="side-content">
            <ul class="tableofcontents">
              <li>
                <a href="/patients-and-caregivers/news-and-media/pages/journey"><span>Journey</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/news-and-media/pages/about-grief" class="active"><span>About Grief</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/news-and-media/pages/community-connections"><span>Community Connections</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% include "../../base/footer.html" %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="{% static 'website/js/navbar.js' %}" defer></script>
  </body>
</html>
