<!DOCTYPE html>
<html>
  <head>
    <!-- Developed by Krishna Kokatay, 2019. Visit my website: www.kalightortaio.com -->
    <!-- Responsive design and grid formatting by Michael Amic-Angelo, 2019. Visit my website: www.amicandesign.com -->    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Care</title>
    {% load static %}
    <link rel="icon" href="{% static '/website/images/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/pat-news-grief-article.css' %}">
  </head>
  <body>
    {% include "../../base/pat-navbar.html" %}
      <div id="content-wrapper">
        <div class="centered hidelink">
          <img src="{% static '/website/images/news.png' %}" height="210" width="1140" alt="Family smiling" />
          <div class="sitemap">
            <span><a href="/patients-and-caregivers/pages/home">Patients and Caregivers&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/volunteer-and-community/pages/home">&nbsp;Volunteer and Community&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/news-and-media/pages/home">&nbsp;News and Media&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief">&nbsp;About Grief&nbsp;</a></span>
            <span class="fa fa-caret-right"></span>
            <span><a href="/patients-and-caregivers/news-and-media/pages/about-grief/when-men-grieve">&nbsp;When Men Grieve&nbsp;</a></span>
          </div>
          <div class="content">
            <img class="bufferdown" src="{% static '/website/images/mengraves.png' %}" width="650" height="425" alt="replacemelater" />
            <span class="title">When Men Grieve</span>
            <p class="p1"><span>In our society, men are often the forgotten grievers. They are taught as young boys to “be strong” and that “men don’t cry.” Men are often silent, solitary grievers who immerse themselves in activity.</span></p>
            <p class="p1"><span>It is important to realize that, as no two people grieve the same, men and women also experience grief differently. Because of their different responses to grief, men are often misunderstood as expressing their grief in an unhealthy way or not grieving at all.</span></p>
            <p class="p1"><span>Thomas Golden, well-known grief counselor and author of Swallowed by a Snake: The Gift of the Masculine Side of Healing states, “While women typically express and share their grief and look to the past, most men won’t verbalize their pain and often deny they are sad. They are also more likely to take action, such as setting up a trust fund or creating a memorial. The important thing is that the activity connects you with the pain. If it does, then it’s a healing process.”</span></p>
            <p class="p1"><span>Men often respond to support well when it is centered on an activity. They may be able to process their grief while engaging in a specific pursuit with others rather than trying to talk one on one. The activity facilitates the expression of feelings.</span></p>
            <p class="p1"><span>During difficult times in our lives, we develop skills that help us cope and which we draw upon in times of great sorrow. Our culture dictates the acceptable ways men and women are allowed to express their pain. Since our culture continues to view men who cry as taboo, they are raised to express pain differently. This understanding may help men move through their pain and use their special strengths to support them through their time of grief.</span></p>
          </div>
          <div class="side-content">
            <ul class="tableofcontents">
              <li>
                <a href="/patients-and-caregivers/news-and-media/pages/journey"><span>Journey</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/news-and-media/pages/about-grief" class="active"><span>About Grief</span></a>
              </li>
              <li>
                <a href="/patients-and-caregivers/news-and-media/pages/community-connections"><span>Community Connections</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% include "../../base/footer.html" %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="{% static 'website/js/navbar.js' %}" defer></script>
  </body>
</html>
